<!DOCTYPE html>
<html>
    <head>
        <title>mern</title>
    </head>
    <body>
        <p>add your info</p>
        <form action="/info-up" method='POST'>
            <label for='name'>name</label>
            <input type='text' id='name' name='name'required>
            <label for='age'>age</label>
            <input type='text' id='age' name='age' required>
            <button>Submit</button>
        </form>
    </body>
</html>