<!DOCTYPE html>
<html>
    <head>
        <title>mern</title>
    </head>
    <body>
        <p>add your info</p>
        <form action="/register" method='POST'>
            <label for='name'>name</label>
            <input type='text' id='name' name='name'required>
            <label for='phone_no'>phone_no</label>
            <input type='text' id='phone_no' name='phone_no' required>
            <label for='age'>age</label>
            <input type='text' id='age' name='age' >
            <label for='email'>Email</label>
            <input type='text' id='email' name='email' required>
            <label for='password'>password</label>
            <input type='text' id='password' name='password' required>
            <label for='cpassword'>re enter password</label>
            <input type='text' id='cpassword' name='cpassword' required>
            <button>Submit</button>
        </form>
    </body>
</html>